body{
    background-color: whitesmoke;
    margin: 0;
    overflow: hidden;

    /* display: flex;
    justify-content: center; */
}

form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

textarea{
    resize: vertical;
}